
/********All Call rules**************/
*{
    /*border:1px solid blue;*/
    /*background-color:black;*/
    
}

/*Link Pseudo-classes ------------------ */

a:link {
  color:black;
  text-decoration: none;
  
}

a:visited {
  color: #777;
}

.selected a,
a:hover {
  color: white;
}

a:active {
  color: #FFF;
  color: rgba(255, 255, 255, .4);
}

/*********************NAV FIELDSET*************************************/
.navDrop {
  cursor:pointer;
  display:none;
  float:right;
  margin:0 auto;
  text-align:center;
  width:99%;
  
}

.dropdown {
  border: none;
  display: block;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  width:98%;
}

.dropdown ul {
  display:none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
}

.dropdown:hover ul{
  display:block;
  overflow: auto;
}

.dropdown:focus ul{
  display:block;
  overflow: auto;
}

.dropdown ul > li {
  background-image:radial-gradient(#777, 25%, #fa0085, 35%, #000);
  border:none;
  color: #000;
  list-style-type: none;
  overflow:hidden;
  padding:8px 0;
  text-align:center;
}

.dropdown ul > li a{
  background-color: transparent;
  border: none;
  color: #000;
  height: 30px;
  line-height: 30px;
  text-decoration:none;
  width: 98%;
 
}

.dropdown ul > li a:hover{
   color: #FFF;
}

.dropdown label {
  display: none;
  width: 100%;
}

.dropdown > legend {
  background: radial-gradient(#fa0085 45%, #000 85%);
  border:none;
  text-align:center;
  width: 100%;
}

.dropdown:hover > legend {
  position: relative; 
  overflow: hidden; 
}

.dropdown > legend:after {
  content: "\2335";
  cursor: default;
  text-align: center;
  width: 20px;
}

.dropdown ul input[type="radio"] {
   display: none; 
}

.dropdown input[type="radio"]:checked ~ label {
  display: block;
  width: 100%;
}


.dropdown:hover label {
  display: block;
  height: 100%;
}


/********Styles started w/ index.html*********/

body {
  background-color: black;
  margin:0;
}

.header {
  background: linear-gradient(white, black);
  margin:0;
  max-height:280px;
  max-width: 100%;
  min-height:200px;
  padding:0;
} 

#google_translate_element{
  float:right;
}

.Header_Logo{
  height:100%;
  margin-left:10%;
}

.tagline {
  color:#fa0085;
  clear:both;
  float:right;
  font: 2rem "Libre Baskerville", cursive;
  margin: 0 5% 0 -100px;
  padding-top:5%;
  text-shadow:1px 1px #000;
  text-transform: uppercase;
}

nav {
  background-image:radial-gradient(#fa0085,#000);
  margin: 0;
  max-width:100%;
}

.page_list{
  font-size: 1.35rem;
  margin: 0 auto;
  text-align:center;
  width: 85%;
}

/*.mySelect{*/
/*  display:none;*/
/*  border:none;*/
/*  -moz-appearance: none !important;*/
/*  background-image: url(../site-images/downArrow.png), radial-gradient(#fa0085 45%, #000 85%);*/
/*  background-repeat:no-repeat;*/
/*  width: 100%;*/
/*  text-align:center;*/
/*}*/

/*.myOption{*/
/*  background-image:radial-gradient(#777, 25%, #fa0085, 35%, #000);*/
/*  text-align:center;*/
/*  padding:8px 0;*/
/*  border:none;*/
/*  color: #000;*/
/*}*/

.navigation{
  display:inline;
}

.langSelect{
  height: 2rem;
  width: 15%;
}

nav li{
  display: inline;
  padding-right: 1.25rem;
}

.white_text{
  color: white;
  font: 1.25rem "Tinos", sans-serif;
}

.grey_text{
  color: #777;
  font-family: 1.25rem "Tinos", sans-serif;
}

.hidePic{
  display:none;
}

#index_text{
  float:left;
  font-size: 2rem;
  margin: 3% 0 0 2%;
  width: 45%;
}

.footer{
  clear:both;
  margin: 2rem 0 3%;
}

#footerDiv{
  margin: auto;
  max-width:300px;
  padding-top:1%;
}

.footText{
  color:white;
  font-size:1rem;
  float:left;
  margin-right:10px;
  
}
.facebook-link{
  margin:auto;
}


/**********INDEX PIC SLIDESHOW STYLES**************/

.slidesDiv{
  float:right;
  height:480px;
  margin-right:2%;
  margin-top:2%;
  overflow: hidden;
  width:640px;
}

.slidesDiv img{
  height:100%;
  width:100%;
}

/*****************DRAGON STYLES********************/

.dragonDiv{
  margin-top:3%;
}

.Note{
  margin: 0 10% 4%;
}

.dragonImgs li{
  overflow:hidden;
  width:100%;
}

.dragonImgs li a{
  margin-left:2%;
}

.img_text{
  width:75%;
}

.x{
  float:left;
}
    
.y{
  float:right;
}

.borderDiv{
  border-bottom: 1px solid #Fa0085;
  margin:1% auto;
  width:66%;
}

/*******************KIOSK STYLES**************************/
#payForm{
  margin: 0 auto;
  padding:0;
  width:60%;
}

#inventory{
  display:inline;
  padding:0;
}

.harnessPics img{
  margin-left: 6%;
}

.colorOption{
  background-color: #000;
}

.harnessList{
  padding:0;
  width: 100%;
}

.harnessList li{
  display:inline;
  padding:0;
  width:50%;
}

.waterDiv{
  height: 18rem;
}

.waterList{
  display:block;
  float:left;
}


.waterList li{
  display:inline-block;
  margin-left: 4rem;
}

.waterList input{
  display:block;
}

.waterButton{
  margin: 3rem 0 0 4rem;
}

.addButton{
  margin-left: 6rem;
}

/******************FAMILY PHOTOS STYLES********************/
.famPicDiv{
  margin: 3% auto;
  text-align:center;
  width:40%;
}

.familyPic {
  background: transparent;
  margin:0 auto;
}

/************************PETCARE STYLES****************************/

/*******Sections********/
.environment{
  float: left;
  margin-left: 2%;
  width: 30%;
}
  
.diet{
  float: left;
  margin: 0 3%;
  width:30%;
}
  
.behavior{
  float: left;
  margin-right: 2%;
  width: 30%;
}

.sectionHeaders{
  color: #777;
  margin-top: 5%;
  text-align: center;
  font:bold 1.3rem;
}

/****Pet Care Section Images****/

.siteImg{
  margin:0;
  text-align:center;
  width:100%;
}

/****Column Data, General *****/

h3 {
  text-align: center;
}

.spans {
  background-image: radial-gradient(#fa0085, transparent 80%);
  display:block;
  margin: 5px;
  max-height: 2rem;
  max-width: 100%;
}

.textReveal{
  background: none;
  border:none;
  color: #AAA;
  font-size:1.3rem;
  line-height: 2rem;
  margin-bottom: 10px;
  text-shadow:2px 2px #000;
  width:100%;
}

.textReveal:hover {
  color: rgba(200, 200, 200, .4);
}



/******* Diet Warning/ Table Data*******/
.caution{
  color:red;
  text-transform:uppercase;
}

table{
  margin-top: 1.5rem;
}

.rows {
  background-image: radial-gradient(#777, transparent);
  border-radius: 20px;
  text-align: center;
  
}

#colHead {
  background-image: radial-gradient(#Fa0085, transparent 80%);
  border-radius: 20px;
  text-align: center;
}

tfoot {
  font-size: 0.7rem;
}

/*******************INFORMATION PAGE STYLES***************************/

/******TABS***********/
#infoTabs{
  margin-left:3%;
  margin-top:2%;
  max-width:225px;
}

#infoTabs a{
 padding:0 100%;
}

#infoTabs .tab-title > a {
  background-color: #000;
  color: #Fa0085;
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 2rem;
}

#infoTabs .tab-title.active a {
  background-image: radial-gradient(#Fa0085, transparent 80%);
  color: #FFF;
}

/******** Info Content********/
#rowDiv{
  width: 800px;
}
      
.content h3{
  font-size:1.5rem;
  text-align:left;
}

.topDiv{   /***Not to be confused with #here div ()aka the target***/
  text-align:center;
}

.brdTable{
  margin:0 auto;
  width:600px;
}
.brdTable th{
  font-size:0.65rem;
  font-weight:bold;
}

.brdTable td{
  font-size: 1rem;
}

.geneTable{
  margin:0 auto 1.25rem;
}

.geneTable tr{
  background: black;
  color:white;
  width:100%;
}

/*******************CONTACT PAGE STYLES*******************/

.noteDiv{
  margin: 5% auto 0;
  width: 60%;
}

.disclaimer{
  font-size: 1rem;
}

.contact_form{
  margin: 0 auto;
  width: 40%;
}

.form_title {
  color:#fa0085;
  font-size:3rem;
  margin: 0 0 30px 0;
  text-align: center;
}

.labels {
  color:white;
  display:block;
  margin: auto 0;
  min-width:100%;
}

.radios {
  display:block;
  padding: 0;
}

.fields {
  background: #333;
  color:#f0f0f0;
  min-width:100%;
}