
/********All Call rules**************/
*{
    /*border:1px solid blue;*/
    /*background-color:black;*/
    
}



/* Pseudo-classes ------------------ */

a:link {
  color:black;
  text-decoration: none;
  /*background-color:#fa0085;*/
}

a:visited {
  color: white;
}

a:hover {
  color: rgba(255, 255, 255, .4);
}

a:active {
  color: lightcoral;
}

/*.text_links {*/
/*  color:white;*/
/*  text-decoration:underline;*/
/*}*/





/********Styles started w/ index.html*********/

body {
  background-color: black;
  margin:0;
}



.header {
  /*column-count: 2;*/
  margin:0;
  padding:0;
  max-height:280px; 
  min-height:200px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, black );
} 


.tagline {
  font-family: "Lovers Quarrel", cursive;
  font-size: 2rem;
  color:#fa0085;
  float:right;
  margin:20px 15% 20px 10px;
  padding-top:5%;
  text-shadow:1px 1px #000;
 text-transform: uppercase;
}
nav {
  /*border:5px solid green;*/
  background-image:radial-gradient(#fa0085,#000);
  margin: 0;
  max-width:100%;
}

.page_list{
  text-align:center;
  width: 65%;
  margin: 0 auto;
}

.navigation{
  margin:0;
/*  display: none;*/
/*  border-radius: 0;*/
/*  max-width:100%;*/
  
}




nav li{
  
    /*float: right;*/
    /*color:white;*/
    display: inline;
    
    /*margin:auto;*/
    padding-right: 20px;
    /*border-radius: 10px;*/
    background:none;
}



.white_text{
  color: white;
}

#index_text{
  max-width: 50%;
  font-size: 1.6rem;
  margin-top: 4%;
}

/*.footer{*/
/*  clear: both;*/
/*  margin:40% 0 0 42%;*/
/*  text-align: center;*/
/*  display:block;*/
  /*clear: both;*/
  /*margin-top: 40%;*/
/*  width:270px;*/
/*  border: 1px solid blue;*/
/*}*/
/*.footerDiv{*/
  
/*  text-align: center;*/
/*  display: inline-block;*/
  
  
/*  border: 1px solid red;*/
/*  text-align: center;*/
/*  display: inline;*/
/*}*/
/*.footText{*/
/*  border: 1px solid green;*/
/*  float:left;*/
/*}*/

/*.facebook_img{*/
/*  float: right;*/
/*}*/

/**********INDEX PIC SLIDESHOW STYLES**************/



#slideshow {
  margin-top:4%;
  margin-left: 55%;
}

.slidePics {                /*********STILL NEEDS TO RESPOND TO SMALLER SCREENS****/
  /*border:1px solid blue;*/
  position: absolute;
  width: 650px;
  height: 500px;
  margin: 0;
}


/******************FAMILY PHOTOS STYLES********************/
.familyPic {
  background: transparent;
}










/****** PET CARE STYLES*************/
/*.environment {*/
/*	width: 290px;*/
/*	float: left;*/
/*	padding: 5px 15px;*/
/*}*/

/*.diet {*/
/*	width: 294px;  Account for margins + border values */
/*	float: left;*/
/*	padding: 5px 15px;*/
/*	margin: 0px 5px 5px 5px;*/
/*}*/

/*.behavior {*/
/*	width: 270px;*/
/*	padding: 5px 15px;*/
/*	float: left;*/
/*}*/

/************************PETCARE STYLES****************************/


/*******Sections********/
.environment{
  width: 30%;
  float: left;
  margin-left: 2%;
}
  
.diet{
  width:30%;
  float: left;
  margin: 0 3%;
 
}
  
.behavior{
  width: 30%;
  float: left;
  margin-right: 2%;
}

.sectionHeaders{
  color: #777;
  margin-top: 5%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

/****Column Data, General *****/

h3 {
  text-align: center;
}

.spans {
  max-width: 100%;
  max-height: 2rem;
  display:block;
  background-image: radial-gradient(#fa0085, transparent 80%);
  border-radius: 55px 10px;
  margin: 5px;
}

.textReveal{
  border:none;
  line-height: 2rem;
  width:100%;
  background: none;
  margin-bottom: 10px;
}

.textReveal:hover {
  color: rgba(255, 255, 255, .4);
}



/******* Diet Data*******/
.caution{
  color:red;
  text-transform:uppercase;
}

table{
  margin-top: 1.5rem;
}

.rows {
  background-image: radial-gradient(#777, transparent);
  border-radius: 20px;
  text-align: center;
  
}

#colHead {
  background-image: radial-gradient(#Fa0085, transparent 80%);
  border-radius: 20px;
  text-align: center;
}

tfoot {
  font-size: 0.7rem;
}

/*****CONTACT PAGE STYLES*******************/

.form_title{
  font-size:3rem;
  color:#fa0085;
}

.contact_form{
  float:left;
  margin:3% auto;
  max-width: 50%;
}

form {
  min-width: 300px;
  margin: 100px auto;
  padding: 10px 20px;
  background: #000;
  border-radius: 10px;
}

.noteDiv{
  max-width: 90%;
  margin:3% 20% 0 55%;
}

.DragonAvailsNote{
  /*float:right;*/
  margin:auto;
  min-width:200px;
  /*max-width: 50%;*/
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

.labels {
  /*display:inline-block;*/
  margin: auto 0;
  display:block;
  color:white;
  min-width:100%;
}

.radios {
  display:block;
  padding: 0;
}

.fields {
  min-width:100%;
  background: #333;
  color:#f0f0f0;
}











