


@media screen and (max-width: 1275px) {
    *{
      border: 1px solid green;
    }
    
    .Header_Logo{
     /*margin: 0;*/
     clear:right;
    }
    
    .tagline{
        font-size:1.5rem;
        margin: 40px 30px 0px -150px;
        clear:right;
    }
    
    nav li{
 
  padding-right: 0.95rem;
 
}
    .page_list{
        font-size:1.15rem;
        width: 100%;
        margin: 0 auto;
    }
    
    .slidesDiv{
      float:none;
      margin:2% auto;
    }
    
    #index_text{
      width:98%;
      margin: auto 2%;
    }
    
    
    /************PETCARE PAGE*********/
    .environment,
    .diet,
    .behavior{
      margin: 0 1%;
    }
    
    .textReveal{
      font-size:0.87rem;
      width:100%;
    }
    
    /****Information Page********/
    #rowDiv{
      float:right;
      width:75%;
      margin-right:1rem;
    }
    
}

@media screen and (max-width:970px) {
  
  *{
      border: 1px solid blue;
  }
  
  .Header_Logo{
    /*margin-left:0;*/
  }
  
  .tagline{
    font-size:1rem;
    margin: -25px 0 0 25%;
    padding: 0;
    float:left;
    clear:both;
  }
  nav{
    margin:40px 0 0 0;
  }
  
  nav li{
    padding-right:1%;
  }
  
  .page_list{
  font-size: 0.85rem;
  width: 100%;
  margin: 0;
  padding-right:8px;
  }
  
  
  .page_list li{
  display:none;
}
nav{
 background: transparent;
}
.mySelect{
  display:block;
  margin:auto;
}
  
/*******Dragons Page*********/
  .dragonImgs li{
    text-align:center;
  }
  .img_text{
    width:100%;
  }
  
  /*******Pet Care Page********/
  .sitePic{
      width:100%;
    }
    
  /****Information Page********/
  #tabDiv{
    width:100%;
    text-align:center;
  }
  
  #infoTabs {
    float:none;
    display:inline;
    
  }
  #infoTabs li{
    display:inline;
  }
  
  #infoTabs .tab-title > a{
    padding:0.5rem 1rem;
  }
  
  #rowDiv{
    float:none;
    width:96%;
    margin:0 auto;
  }
  
  .content h2{
    font-size:1.6rem;
    text-align:center;
  }
  
  /*******Contact Page*********/
  .contact_form{
    width:60%;
    /*float: left;*/
    /*margin-left: 2%;*/
    /*margin-right:0;*/
  }
 .noteDiv{
   width:88%;
 }
 
}

@media screen and (max-width:750px){
  
   *{
      border: 1px solid orange;
    }
  
  .header{
    text-align: center;
    padding-right:2%;
  }
  
  .Header_Logo {
    margin:auto;
  }
  
  .tagline{
    text-align: center;
  }
  
 
/*  .page_list{*/
/*    text-align: center;*/
/*    width: 98%;*/
/*    margin: auto;*/
/*    padding:0;*/
/*}*/



  .navigation li{
    font-size:1.25rem;
  }
  
  .hidePic{
    display: block;
    width: 94%;
    margin: 1% auto;
  }
  .hidePic img {
    width:100%;
  }
  
  .slidesDiv{
    display:none;
  }
   
    #index_text{
      float: none;
      margin:auto;
      max-width: 80%;
    }
    
    /******Pet Care Page******/
    .environment,
    .diet,
    .behavior{
      float:none;
      margin:0 auto;
      width: 80%;
    }
    
    .textReveal{
  font-size:1.3rem;
    }
    
    .sitePic{
      width: 200px;
    }
    
    .footer{
      margin: auto;
    }
    
    /*******Information Page********/
    #infoTabs .tab-title > a{
      font-size:0.84rem;
      padding:0.5rem;
  }
    
    /**********RESPONSIVE STYLES FOR 'CONTACT'********/
/*    .DragonAvailsNote{*/
/*      float: none;*/
/*      margin: auto;*/
/*      max-width: 80%;*/
/*    }*/
    .contact_form{
      float:none;
      width:90%;
      min-width:250px;
      margin:auto;
}

    .noteDiv{
      width:95%;
      margin: auto;
    }
    
    
  }
  

@media screen and (max-width: 480px) {
  
  *{
      border: 1px solid red;
  }
  
  .header{
    padding-right:2%;
  }
  
  #google_translate_element{
  display:none;
}
  
  .Header_Logo {
     
    max-width: 95%;
    margin: 0;
    float: left;
  }
  
  .tagline{
    clear:right;
    font-size: 0.75rem;
    margin: auto;
    display: block;
    background-color: transparent;
  }
  
  nav {
    padding:0;
    margin-top:20%;
  }
  
  .page_list ul{
    display:none;
  }
  .page_list select{
    display:block;
  }
  
  nav li{
    font-size:1rem;
  }
  
  .footer{
    clear: both;
    max-width: 100%;
    float: left;
    margin-left:0;
    display:inline-block;
  }
  
  /**********Index . html********/
  
  #index_text{
      margin:auto;
      margin-bottom:10px;
      max-width: 100%;
    }
  
  #index_text p {
    font-size: 1rem;
    clear: right;
    min-width: 250px;
    text-align:center;
  }
  #photo_roll{
      clear: left;
      float:none;
      margin: 2px auto;
  }
  
  /**********PETCARE*******/
  
  .sectionHeaders{
    font-size: 1rem;
  }
  
  .environment,
    .diet,
    .behavior{
      margin:0 auto;
      width: 98%;
      
    }
    
    .careText{
      font-size:0.95rem;
    }
    
/******Information Page******/
  #infoTabs .tab-title > a{
    width:200px;
    margin:0 3%;
    font-size:0.9rem;
    padding: 1rem;
  }
  
}

































