@media screen and (max-width: 1275px) {
    *{
      border: 1px solid green;
    }
    
    .Header_Logo{
     margin: 0;
     clear:right;
    }
    
    .tagline{
        font-size:1.5rem;
        margin: 40px 20px 0px 10px;
        clear:left;
    }
    .page_list{
        text-align:center;
        width: 75%;
        margin: center;
} 

/*    .navigation{*/
/*    margin:0;*/
/*}*/
}

@media screen and (max-width:970px) {
  
  *{
      border: 1px solid blue;
    
  }
  
  .tagline{
    font-size:1rem;
    margin: -25px 0 0 25%;
    padding: 0;
    float:left;
    clear:both;
  }
  nav{
    margin:40px 0 0 0;
  }
  .page_list{
  width: 95%;
  margin: 0;
  padding-right:15px;
}
}

@media screen and (max-width:750px){
  
   *{
      border: 1px solid orange;
    }
  
  .header{
    text-align: center;
    padding-right:2%;
  }
  
  .Header_Logo {
    margin:auto;
  }
  
  .tagline{
    text-align: center;
  }
  
  #photo_roll{
    float:none;
    margin:auto;
  }
  .page_list{
    text-align: center;
    width: 400px;
    margin: auto;
    padding-left: 15px;
}

   
    #index_text{
      float: none;
      margin:auto;
      max-width: 80%;
    }
    
    .footer{
      margin: 0px 0px 0px 25%;
      /*text-align:center;*/
    }
    
    /**********RESPONSIVE STYLES FOR 'CONTACT'********/
    .DragonAvailsNote{
      float: none;
      margin: auto;
      max-width: 80%;
    }
    .contact_form{
      float:none;
      max-width:400px;
      min-width:150px;
      /*margin-top:50px;*/
}

    .noteDiv{
      margin: auto;
    }
    
    
  }
  

@media screen and (max-width: 480px) {
  
  *{
      border: 1px solid red;
  }
  
  .header{
    padding-right:2%;
  }
  
  .Header_Logo {
     
    max-width: 95%;
    margin: 0;
    float: left;
  }
  
  .tagline{
    clear:right;
    font-size: 0.75rem;
    margin: auto;
    display: block;
    background-color: transparent;
  }
  
  nav {
    padding:0;
    margin-top:20%;
  }
  
  .page_list{
    clear: both;
    text-align: center;
    display:block;
    max-width:270px;
    /*margin-top:25px;*/
    padding: 15px;
  }
  
  
  #index_text{
      margin:auto;
      margin-bottom:10px;
      max-width: 100%;
    }
  
  #index_text p {
    font-size: 1rem;
    clear: right;
    min-width: 250px;
    text-align:center;
  }
  #photo_roll{
      clear: left;
      float:none;
      margin: 2px auto;
  }
  
  .footer{
    clear: both;
    max-width: 100%;
    float: left;
    margin-left:0;
    display:inline-block;
  }
}

































