@media screen and (max-width: 1275px) {
    *{
      border: 1px solid green;
    }
    
    .Header_Logo{
     margin: 0;
     clear:right;
    }
    
    .tagline{
        font-size:1.5rem;
        margin: 40px 20px 0px 10px;
        clear:left;
    }
    .page_list{
        text-align:center;
        width: 95%;
        margin: center;
    }
    
    .slidesDiv{
      float:none;
      margin:2% auto;
    }
    
    #index_text{
      width:98%;
      margin: auto 2%;
    }
    
    
    
    /************PETCARE*********/
    .environment,
    .diet
    .behavior{
      margin:0;
      
    }
    
    .contact_form{
      margin-right: 5%;
    }

}

@media screen and (max-width:970px) {
  
  *{
      border: 1px solid blue;
    
  }
  
  .tagline{
    font-size:1rem;
    margin: -25px 0 0 25%;
    padding: 0;
    float:left;
    clear:both;
  }
  nav{
    margin:40px 0 0 0;
  }
  
  nav li{
    padding-right:1%;
  }
  
  .page_list{
  font-size: 0.85rem;
  width: 100%;
  margin: 0;
  padding-right:8px;
  }
  

  
  /*******Contact Page*********/
  .contact_form{
    float: left;
    margin-left: 2%;
    margin-right:0;
  }
 .noteDiv{
   max-width:55%;
 }
 
}

@media screen and (max-width:750px){
  
   *{
      border: 1px solid orange;
    }
  
  .header{
    text-align: center;
    padding-right:2%;
  }
  
  .Header_Logo {
    margin:auto;
  }
  
  .tagline{
    text-align: center;
  }
  
 
  .page_list{
    text-align: center;
    width: 98%;
    margin: auto;
    padding:0;
}

  .navigation li{
    font-size:1rem;
    margin-left:0;
  }
  
  .slidesDiv{
    display:none;
  }
   
    #index_text{
      float: none;
      margin:auto;
      max-width: 80%;
    }
    
    
    
    .environment,
    .diet,
    .behavior{
      float:none;
      margin:0 auto;
      width: 80%;
      
    }
    
    
    
    .footer{
      margin: auto;
    }
    
    /**********RESPONSIVE STYLES FOR 'CONTACT'********/
/*    .DragonAvailsNote{*/
/*      float: none;*/
/*      margin: auto;*/
/*      max-width: 80%;*/
/*    }*/
    .contact_form{
      float:none;
      max-width:60%;
      min-width:250px;
      margin:auto;
}

    .noteDiv{
      max-width:95%;
      margin: auto;
    }
    
    
  }
  

@media screen and (max-width: 480px) {
  
  *{
      border: 1px solid red;
  }
  
  .header{
    padding-right:2%;
  }
  
  .Header_Logo {
     
    max-width: 95%;
    margin: 0;
    float: left;
  }
  
  .tagline{
    clear:right;
    font-size: 0.75rem;
    margin: auto;
    display: block;
    background-color: transparent;
  }
  
  nav {
    padding:0;
    margin-top:20%;
  }
  
  .page_list{
    clear: both;
    text-align: center;
    display:block;
    max-width:270px;
    /*margin-top:25px;*/
    /*padding: 15px;*/
  }
  
  nav li{
    font-size:1rem;
  }
  
  .footer{
    clear: both;
    max-width: 100%;
    float: left;
    margin-left:0;
    display:inline-block;
  }
  
  /**********Index . html********/
  
  #index_text{
      margin:auto;
      margin-bottom:10px;
      max-width: 100%;
    }
  
  #index_text p {
    font-size: 1rem;
    clear: right;
    min-width: 250px;
    text-align:center;
  }
  #photo_roll{
      clear: left;
      float:none;
      margin: 2px auto;
  }
  
  /**********PETCARE*******/
  
  .sectionHeaders{
    font-size: 1rem;
  }
  
  .environment,
    .diet,
    .behavior{
      margin:0 auto;
      width: 98%;
      
    }
    
    .careText{
      font-size:0.75rem;
    }
  
  
}

































